{% extends "core/base.html" %}
{% block title %}Change settings of this account{% endblock %}
{% block heading %}Change settings of this account{% endblock %}
{% block style %}

{% endblock %}
{% block content %}

<div class="panel panel-default">
  <form id="settings_form" action="/account_settings" method="POST">
    {% csrf_token %}
    <div class="panel-heading"></div>
    <div class="panel-body">
      <div>
        <input type="submit" value="Save changes" />
      </div>
      <div>
        <label for="name">Name</label>
        <input type="text" name="name" value="{{ account.name }}" required="true">
      </div>
      <div>
        <label for="profiles">Associated profiles</label>
        <select multiple="multiple" name="profiles" class="selectpicker" data-actions-box="true" data-live-search="true">
          <option value="" disabled>Select profiles</option>
          {% for profile in profiles %}
          <option value="{{ profile.id }}" {% if profile in account.profiles.all %}selected{% endif %}>{{ profile }}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <label for="new_profile">Create new profiles for this account</label>
        <input type="text" name="new_profile" placeholder="Name of new profile">
        <input type="checkbox" name="is_non_real"> is non-real
      </div>
      <div>
        <label for="active">Active</label>
        <input type="checkbox" {% if account.active == True %} checked {% endif %} name="active" value="yes">
      </div>
      <div>
        <label for="displayed_time_period_for_membership_fees">Displayed time period for membership fees</label>
        <select name="displayed_time_period_for_membership_fees" class="selectpicker">
          <option {% if not time_period.displayed_time_period_for_membership_fees %}selected{% endif %} value="0">Use general setting ({{ general_displayed_time_period_for_membership_fees }})</option>
          {% for time_period in all_time_periods %}
          <option value="{{ time_period.id }}" {% if time_period == account.displayed_time_period_for_membership_fees %}selected{% endif %}>{{ time_period }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </form>
</div>

{% endblock %}