{% extends "core/base.html" %}
{% block title %}List of accounts{% endblock %}
{% block heading %}List of accounts{% endblock %}
{% block content %}
<table class="table">
          <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Users</th>
            <th align=right>Deposit</th>
            <th align=right>Balance</th>
            <th align=right>Taken</th>
          </thead>
          <tbody>
          {% for account in accountlist %}
            <tr>
              <td>{{ account.id }}</td>
              <td>{{ account.name }}</td>
              <td>{{ account.profiles_str }}</td> <!-- <td>{% for profile in account.profiles_str %}{{ profile.name }}, {% endfor %}</td> -->
              <td align=right>{{ account.deposit_str }} </td>
              <td align=right>{{ account.balance_str }}</td>
              <td align=right>{{ account.taken_str }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
{% endblock %}
