{% extends "core/base.html" %}
{% block title %}Account{% endblock %}
{% block heading %}Account{% endblock %}
{% block style %}
  tr.depositation {
    background-color: #3e95ef;
  }
{% endblock %}
{% block content %}
<table class="table">
  <thead>
    <th>Tr No</th>
    <th>Date</th>
    <th>Type</th>
    <th>Amount</th>
    <th>Matter</th>
    <th>Entry details</th>
    <th>Value</th>
    <th>Balance</th>
    <th>Comment</th>
  </thead>
  <tbody>
  {% for row in account_table.rows %}
    <tr class="{{ row.2|lower }}">
      {% for column in row %}
        <td> {{ column }} </td>
      {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
