{% extends "core/base.html" %}
{% block title %}List of batches{% endblock %}
{% block heading %}List of batches{% endblock %}
{% block content %}
<table class="table">
          <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Consumable</th>
            <th>Supplier</th>
            <th>Origin</th>
            <th>Owner</th>
            <th>Price</th>
            <th>Production date</th>
            <th>Purchase date</th>
            <th>Date of expiry</th>
            <th>Exhaustion date</th>
            <th>Stock</th>
            <th>Monthly consumption</th>
            <th>Evaluation</th>
            <th>Taken</th>
          </thead>
          <tbody>
          {% for batch in batchlist %}
            <tr>
              <td>{{ batch.id }}</td>
              <td>{{ batch.name }}</td>
              <td>{{ batch.consumable }}</td>
              <td>{{ batch.supplier.name }}</td>
              <td>{{ batch.supplier.broad_location }}</td>
              <td>{{ batch.owner_account.name }}</td>
              <td>{{ batch.price_str }}</td>
              <td>{{ batch.production_date }}</td>
              <td>{{ batch.purchase_date }}</td>
              <td>{{ batch.date_of_expiry }}</td>
              <td>{{ batch.exhaustion_date }}</td>
              <td>{{ batch.stock_str }}</td>
              <td>{{ batch.monthly_consumption_str }}</td>
              <td>{{ batch.evaluate_consumption }}</td>
              <td>{{ batch.taken_str }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
{% endblock %}
