{% extends "core/base.html" %}
{% block title %}List of consumables{% endblock %}
{% block heading %}List of consumables{% endblock %}
{% block content %}
<table class="table">
          <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Stock</th>
            <th>Monthly consumption</th>
            <th>Taken</th>
            <th>On order</th>
            <th>Planning</th>
          </thead>
          <tbody>
          {% for consumable in consumablelist %}
            <tr>
              <td>{{ consumable.id }}</td>
              <td>{{ consumable.name }}</td>
              <td>{{ consumable.stock }} {{ consumable.unit }}</td>
              <td>{{ consumable.monthly_consumption }} {{ consumable.unit }}</td>
              <td>{{ consumable.taken }} {{ consumable.unit }}</td>
              <td>{{ consumable.on_order }} {{ consumable.unit }}</td>
              <td>{{ consumable.planning }} {{ consumable.unit }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
{% endblock %}
