{% extends "core/base.html" %}
{% block title %}Create new user{% endblock %}
{% block heading %}Create new user{% endblock %}
{% block style %}

{% endblock %}
{% block content %}

<div class="panel panel-default">
  <form id="register_form" action="/register_profile" method="POST">
    {% csrf_token %}
    <div class="panel-heading"></div>
    <div class="panel-body">
      <div>
        <input type="text" name="name" placeholder="Name of new user" required="true">
        <input type="checkbox" id="is_non_real" onchange="hide_person_fields()"> is not a real person
      </div>
      <div>
        <label for="profiles">Select associated accounts if they already exist</label>
        <select multiple="multiple" name="accounts" class="selectpicker" data-actions-box="true" data-live-search="true">
          <option value="" disabled>Select accounts</option>
          {% for account in accounts %}
          <option value="{{ account.id }}">{{ account }}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <label for="new_account">Create new account for this user</label>
        <input type="text" name="new_account" placeholder="Name of new account">
      </div>
      <div id="person_fields">
        <div>
          <label for="first_name">First name</label>
          <input type="text" name="first_name">
        </div>
        <div>
          <label for="last_name">Last name</label>
          <input type="text" name="last_name">
        </div>
        <div>
          <label for="streetname">Address</label>
          <input type="text" name="streetname" placeholder="Streetname">
          <input type="text" name="streetnumber" placeholder="Streetnumber">
          <input type="text" name="zipcode" placeholder="Zipcode">
          <input type="text" name="town" placeholder="Town">
          <input type="text" name="country" placeholder="Country">
          <input type="text" name="address_notice" placeholder="Address notice">
        </div>
        <div>
          <label for="email">Contact</label>
          <input type="email" name="email" placeholder="Email">
          <input type="text" name="website" placeholder="Website">
          <input type="text" name="telephone1" placeholder="Telephone 1">
          <input type="text" name="telephone2" placeholder="Telephone 2">
        </div>
      </div>
      <div>
        <label for="notice">Notice/comment</label>
        <input type="text" name="notice">
      </div>
      <div>
        <input type="submit" value="Register" />
      </div>
    </div>
  </form>
</div>

{% endblock %}


{% block script %}
  <script>
    function hide_person_fields() { // TODO: doesn't work!
      if ($("#is_non_real").is(":checked")) {
        $("#person_fields").hide()
      } else {
        $("#person_fields").show();
      }
    }
  </script>
{% endblock %}