{% extends "core/base.html" %}
{% block title %}Create new account{% endblock %}
{% block heading %}Create new account{% endblock %}
{% block style %}

{% endblock %}
{% block content %}

<div class="panel panel-default">
  <form id="register_form" action="/register_account" method="POST">
    {% csrf_token %}
    <div class="panel-heading"></div>
    <div class="panel-body">
      <div>
        <input type="text" name="name" placeholder="Name of new account" required="true">
      </div>
      <div>
        <label for="profiles">Choose associated users if they already exist</label>
        <select multiple="multiple" name="profiles" class="selectpicker" data-actions-box="true" data-live-search="true">
          <option value="" disabled>Select profiles</option>
          {% for profile in profiles %}
          <option value="{{ profile.id }}">{{ profile }}</option>
          {% endfor %}
        </select>
      </div>
      <div>
        <label for="new_profile">Create new user for this account</label>
        <input type="text" name="new_profile" placeholder="Name of new profile">
        <input type="checkbox" name="is_non_real"> is not a real person
      </div>
      <div>
        <input type="submit" value="Register" />
      </div>
    </div>
  </form>
</div>

{% endblock %}