{% extends "core/base.html" %}
{% block title %}Estimate consumption{% endblock %}
{% block heading %}Estimate your monthly consumption{% endblock %}
{% block style %}
  div.row {

  }
  div.product_name {
    display: inline-block;
    width: 15%;
    margin-left: 1em;
  }
  div.product_description {
    display: inline-block;
    width: 25%;
    margin-left: 1em;
  }
  div.product_pres_price {
    display: inline-block;
    width: 5%;
    margin-left: 1em;
  }
  div.product_unit {
    display: inline-block;
    width: 5%;
    margin-left: 1em;
  }
  div.product_estimation_consumption {
    display: inline-block;
    width: 8%;
    margin-left: 1em;
  }
  div.product_value {
    display: inline-block;
    width: 8%;
    margin-left: 1em;
  }
  div.product_estimation_consumption > input { box-sizing: border-box; }      /* doesn't work! */

  #account_consumption_form .panel-body .row:nth-child(odd) {
    background-color: #ddd;
  }
{% endblock %}
{% block content %}

<div class="panel-group">
  <form id="account_consumption_form" action="/account_consumption" method="POST">
  {% csrf_token %}
    <div class="panel panel-default">
      <div class="panel-body">
        <div>
          <input name="save" type="submit" value="Save" />
        </div>
        <div>Total amount: {{ total_amount }}</div>
        <div>Value sum: {{ total_pres_value }}</div>
        <div><input name="reset" type="reset" value="Discard changes" /></div>
      </div>
    </div>
    <div class ="row">
      <div class ="product_name">Name</div>
      <div class ="product_description">Description</div>
      <div class ="product_pres_price">Pres. price</div>
      <div class ="product_unit">per</div>
      <div class ="product_estimation_consumption">Your monthly need</div>
      <div class ="product_value">Value</div>
    </div>
    {% for st in product_category_subtables %}
      <div class="panel panel-default">
        <div class="panel-heading"><a data-toggle="collapse" href="#{{ st.id }}">{{ st.heading }}</a></div> <!-- href should get st.id instead of heading; edit following line too -->
        <div id="{{ st.id }}" class="panel-collapse collapse in">
          <div class="panel-body">
            <p><i>{{ st.subheading }}</i></p>
            {% for row in st.rows %}
            <div class ="row">
              <div class ="product_name">{{ row.1 }}</div>
              <div class ="product_description"><i>{{ row.2 }}</i></div>
              <div class ="product_pres_price">{{ row.3 }}</div>
              <div class ="product_unit">{{ row.4 }}</div>
              <div class ="product_estimation_consumption"><input type="text" name="{{ row.0 }}" step="any" size="5" value={{ row.5 }}></div>
              <div class ="product_value">{{ row.6 }}</div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </form>
</div>


{% endblock %}