{% extends "core/base.html" %}
{% block title %}List of all transactions{% endblock %}
{% block heading %}List of all transactions{% endblock %}
{% block style %}
  tr.deposited {
    background-color: #61a8ff;
  }
  tr.paid {
    background-color: #97ff9c;
  }
  tr.restituted {
    background-color: #c4c4c4;
  }
  tr.transferred {
    background-color: #99ffff;
  }
  tr.costs {
    background-color: #f77770;
  }
  tr.proceeds {
    background-color: #77ff70;
  }
  tr.recovered {
    background-color: #f77770;
  }
  tr.donated {
    background-color: #77ff70;
  }
{% endblock %}
{% block content %}
<table class="table">
  <thead>
    <th>Tr No</th>
    <th>Date</th>
    <th>Matter</th>
    <th>Entry details</th>
    <th>Value</th>
    <th>Balance</th>
    <th>Comment</th>
  </thead>
  <tbody>
  {% for row in transaction_table.rows %}
    <tr class="{{ row.2|lower }}">
      {% for column in row %}
        <td> {{ column }} </td>
      {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
